{% extends "blog/base.html" %}
{% load blog_tags %}
{% block blog_content %}
  {% for object in object_list %}
    {% if forloop.first %}
      <div>
		{% blog_summary %}
	  </div>
    {% else %}
	  {% if forloop.counter|divisibleby:2 %}
	    <div>
	  {% endif %}
	  <div>
		{% blog_summary %}
	  </div>
	  {% if not forloop.counter|divisibleby:2 or forloop.last %}
	    </div>
	  {% endif %}
	{% endif %}
  {% empty %}
    <div>
	  <p>You don't seem to have any posts yet.</p>
	  <p>You should go ahead and <a href="{% url blogpost_create %}">create one now</a></p>
	</div>
  {% endfor %}
{% endblock %}

